// grid

@for $i from 1 through 12 {
  $margin: 3px;

  .col-#{$i} {
    align-items: center;
    border: 1px solid #cccccc;
    box-shadow: 0 0 6px #333333;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    height: 30px;
    width: calc(100% / 12 * #{$i} - #{$margin} * 2);
    margin: $margin;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}
